[Desktop Entry]
Name=QtWebFlix
GenericName=QtWebFlix
Comment=Standalone player for several streaming platforms
Categories=Network;AudioVideo;Player;
Exec=/run/media/jesse/media/app/qtWebflix/prime-qtwf.run
Icon=/run/media/jesse/media/app/qtWebflix/prime.ico
StartupNotify=false
Terminal=false
Type=Application
Name[en_US]=appPrime
